@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gaegu", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bgnavbar {
  background-image: url("/img/bg_0_header.png");
  background-size: cover;
}

.bgnavbar2 {
  background-image: url("/img/bg_0_header.png");
  background-size: cover;
  background-position: bottom;
}

.bghero {
  background-image: url("/img/bg01_hero.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 65vw;
}

.bgsynopsis {
  background-image: url("/img/bg_02_description.png");
  background-size: cover;
}

@screen md {
  .bgsynopsis {
    height: 35vw;
  }
}

.bgroadmap {
  background-image: url("/img/bg_03_roadmap.png");
  background-size: cover;
}

.bgcollection {
  background-image: url("/img/bg_04_collection.png");
  background-size: cover;
}

@screen md {
  .bgcollection {
    height: 40vw;
  }
}

.bgcollectionmobile {
  background-image: url("/img/bg04_collectionmobile.png");
  background-size: cover;
}

.bgfaq {
  background-image: url("/img/bg_05_faq.png");
  background-size: cover;

}

.bgteam {
  background-image: url("/img/bg06_team.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgjoinus {
  background-image: url("/img/bg07_joinus.png");
  background-size: cover;
}

/* Hero */
.hero__logo {
  width: 40vw;
}

.hero__char4 {
  width: 15vw;
  left: 5vw;
  bottom: 20vw;
}

@screen lg {
  .hero__char4 {
    left: 7vw;
    bottom: 15vw;
  }
}

.hero__tree-left-bottom {
  width: 20vw;
  left: 1vw;
  bottom: 25vw;
}

@screen lg {
  .hero__tree-left-bottom {
    left: 2vw;
    bottom: 20vw;
  }
}

.hero__bush {
  width: 20vw;
  left: 15vw;
  bottom: 30vw;
}

@screen lg {
  .hero__bush {
    left: 20vw;
  }
}

.hero__tree-right {
  width: 20vw;
  right: 15vw;
  bottom: 25vw;
}

@screen lg {
  .hero__tree-right {
    bottom: 25vw;
    right: 15vw;
  }
}

.hero__char3 {
  width: 20vw;
  right: 5vw;
  bottom: 20vw;
}

@screen lg {
  .hero__char3 {
    right: 10vw;
  }
}

.hero__tree-right-bottom {
  width: 20vw;
  right: 0vw;
  bottom: 15vw;
  z-index: 2;
}

@screen lg {
  .hero__tree-right-bottom {
    bottom: 12vw;
  }
}